/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: RoundsBlack;
  src: url(../assets/fonts/RoundsBlack.ttf); 
}

html, body {
  height: 100%;
  position: relative;
  overflow: hidden;
  font-family: 'RoundsBlack', 'Helvetica';
}



#background {
  background:url('../assets/img/background.jpg') -20px -20px;
  position:absolute;
  top:0;
  z-index:0;
  height: 110%;
  width: 110%;
  background-size: cover;
}

@media screen and (max-width: 720px) {
  #background {
    background:url('../assets/img/backgroundsmall.jpg');
    background-size: contain;
  }
}
#snow {
  background:url('../assets/img/snow_up.png') -50px -50px;
  position:absolute;
  top:0;
  z-index:0;
  height: 105%;
  width: 105%;
  background-size: cover;
}

@media screen and (max-width: 720px) {
  #snow {
    background:none;
  }
}

#background2 {
  background:url('../assets/img/background2.png') -25px -50px;
  position:absolute;
  top:0;
  z-index:2;
  height: 105%;
  width: 105%;
  background-size: cover;
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.left-1 {
  width: 28%;
  height: 90%;
  position: absolute;
  left:0;
  bottom: 0;
  background:url('../assets/img/sham.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom left;
}

@media screen and (max-width: 720px) {
  .left-1 {
    background:url('../assets/img/shamsmall.png');
    z-index: 1;
    background-size: cover;
    width: 41%;
    height: 52%;
    left: 0;
    bottom: 30%;
  }
}

.left-2 {
  width: 40%;
  height: 61%;
  position: absolute;
  left:0;
  bottom: 0;
  background:url('../assets/img/girl.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom left;
  z-index: 4;
}
.left-3 {
  width: 39%;
  height: 16%;
  position: absolute;
  left:0;
  bottom: 0;
  z-index: 99;
  background:url('../assets/img/snowleft.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom left;
  z-index: 2;
}
.left-4 {
  width: 30%;
  height: 26%;
  position: absolute;
  left: 38%;
  bottom: 40%;
  z-index: 3;
  background:url('../assets/img/ping.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom left;
}
.left-5 {
  width: 39%;
  height: 36%;
  position: absolute;
  left: 0;
  bottom: 34%;
  z-index: 4;
  background:url('../assets/img/girlsmall.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom left;
}

.right-1 {
  width: 28%;
  height: 90%;
  position: absolute;
  right:0;
  bottom: 0;
  background:url('../assets/img/trees.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom right;
}
@media screen and (max-width: 720px) {
  .right-1 {
    width: 36%;
    height: 43%;
    position: absolute;
    right: -4%;
    bottom: 43%;
    z-index: 1;
  }
}

.right-2 {
  width: 40%;
  height: 73%;
  position: absolute;
  right:0;
  bottom: 0;
  background:url('../assets/img/man.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom right;
  z-index: 4;
}
.right-3 {
  width: 39%;
  height: 15%;
  position: absolute;
  right:0;
  bottom: 0;
  z-index: 2;
  background:url('../assets/img/snowright.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom right;
}
.right-4 {
  width: 42%;
  height: 22%;
  position: absolute;
  right: -12px;
  bottom: 36%;
  transform: rotate(8deg);
  z-index: 3;
  background:url('../assets/img/dog.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom right;
}
.right-5 {
  width: 57%;
  height: 42%;
  position: absolute;
  right:0;
  bottom: 41%;
  z-index: 1;
  background:url('../assets/img/mansmall.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom right;
}
.center-1 {
  width: 50%;
  height: 6%;
  position: absolute;
  right:25%;
  bottom: 0;
  background:url('../assets/img/snowmid.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom center;
  z-index: 3;
}
.center-2 {
  width: 60%;
  height: 70%;
  position: absolute;
  right:20%;
  bottom: 19%;
  background:url('../assets/img/main.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 3;
}

@media screen and (max-width: 720px) {
  .center-2 {
    width: 88%;
    height: 21%;
    position: absolute;
    right: 6%;
    bottom: 31%;
    z-index: 5;
    background:url('../assets/img/logosmall.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom center;
  }
}
.center-top {
  width: 40%;
  position: absolute;
  right:30%;
  top:0%;
  z-index: 4;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 720px) {
  .center-top {
    width: 58%;
    right: 21%;
    margin-top: 5%;
  }
}
.center-top__logo {
  margin-top: 24px;
  margin-bottom: 4px;
}
.center-top__logo-small {
  position: absolute;
  left: 20px;
  top: 20px;
  width: 12%;
}
.center-bottom {
  width: 40%;
  position: absolute;
  right:30%;
  bottom: 7%;
  z-index: 9;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 720px) {
  .center-bottom {
    bottom: 0%;
    width: 100%;
    right: 0;
  }
}

.center-bottom-small {
  width: 100%;
  height: 44%;
  bottom: 0;
  z-index: 4;
  position: absolute;
  background:url('../assets/img/bottomsmall.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}

.social {
  display: flex;
  flex-direction: row;
  height: 54px;
  margin-bottom: 4px;
}
.social__item {
  width: 50px;
  height: 54px;
  margin: 4px;
}
@media screen and (max-width: 720px) {
  .social {
    margin-bottom: 0px;
    height: 46px;
  }
  .social__item {
    width: 44px;
    height: 46px;
    margin: 4px;
  }
}
.social__item img {
  width: 100%;
  height: 100%;
}
.social__item img:hover {
}

.trailer-btn {
  cursor: pointer;
}

.big-text {
  margin: 12px 0px;
  font-size:20px;
  text-transform: uppercase;
  text-align: center;
}
@media screen and (max-width: 720px) {
  .big-text {
    margin: 12px 0px 0px 0px;
    font-size:16px;
    line-height: 1.5;
    text-align: center;
    text-transform: uppercase;
  }
}
.extra-big-text {
  margin: 12px 0px;
  font-size:36px;
  text-transform: uppercase;
}
@media screen and (max-width: 720px) {
  .extra-big-text {
    margin-top: 4px;
  }
}
.middle-text {
  margin: 8px 0px;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
}

@media screen and (max-width: 720px) {
  .middle-text {
    margin: 10px 0px 4px 0px;
    width: 57%;
    color: #132445!important;
    font-size: 14px;
    text-align: center;
  }
}
    
.small-text {
  margin: 6px 0px;
  font-size: 12px;
  text-transform: uppercase;
}
@media screen and (max-width: 720px) {
  .small-text {
    margin: 14px 0px;
    font-size:8px;
    text-align: center;
    text-transform: uppercase;
  }
}

.white {
  color: #ffffff;
}
.blue {
  color: #79cfdc;
}
.yellow {
  color: #eaff00;
}

@media screen and (max-width: 720px) {
  .blue {
    color: #132445;
  }
}

@media screen and (max-width: 720px) {
  .mobile-visible {
    display: block;
  }
  .mobile-hidden {
    display: none;
  }
}
@media screen and (min-width: 720px) {
  .mobile-visible {
    display: none;
  }
}




























#sham-left {
  position: relative;
}
.sham-left__wrapper {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#sham-left img {
  z-index: 2;
  height: 80%;
  background-size: contain;
}
#forest-left {
  background:url('../assets/img/background2.png') -25px -50px;
  position:absolute;
  top:0;
  z-index:2;
  height: 105%;
  width: 105%;
  background-size: cover;
}
#forest-right {
  background:url('../assets/img/background2.png') -25px -50px;
  position:absolute;
  top:0;
  z-index:2;
  height: 105%;
  width: 105%;
  background-size: cover;
}

.social__item {
  position: relative;
}
.social__item a , .trailer-btn span{
  display: block;
}
.trailer-btn span {
  position: relative;
}
.youtube:after{
  background-image: url('../assets/img/youtube_hover.png');
}


.social__item a:after, .trailer-btn span:after{
  content: '';
  top:0;
  left: 0;
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-size: 100% 104%;
  z-index: 9;
  opacity: 0;
  -webkit-transition: all .1s ease-out 0.1s;
  -moz-transition: all .1s ease-out 0.1s;
  -o-transition: all .1s ease-out 0.1s;
  transition: all .1s ease-out 0.1s;
}

.trailer-btn-button {
  width: 180px;
}
@media screen and (min-width: 720px) {

  .social__item a:hover:after, .trailer-btn span:hover:after{
    opacity: 1;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease
    -o-transition: all .25s ease;
    transition: all .25s ease;
  }
}
.trailer-btn span::after {
  background-image: url('../assets/img/trailerbutton_hover.png');
  background-size: 180px;
  background-repeat: no-repeat;
  background-position: center top;
}
.ok:after{
  background-image: url('../assets/img/ok_hover.png');
}
.fb:after{
  background-image: url('../assets/img/fb_hover.png');
}
.vk:after{
  background-image: url('../assets/img/vk_hover.png');
}
.tw:after{
  background-image: url('../assets/img/tw_hover.png');
}
.inst:after{
  background-image: url('../assets/img/inst_hover.png');
}