/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: RoundsBlack;
  src: url(../assets/fonts/RoundsBlack.ttf); 
}

html, body {
  height: 100%;
  position: relative;
  overflow: hidden;
  font-family: 'RoundsBlack', 'Helvetica';

}

@media screen and (min-width: 720px) {
  html, body {
    font-size: calc( 16 / 1024 * 100vw);
  }
}

@media screen and (max-width: 720px) {
  html, body {
    font-size: calc( 16 / 768 * 100vw);
  }
}




#background {
  background:url('../assets/img/background.jpg') -20px -20px;
  position:absolute;
  top:0;
  z-index:0;
  height: 110%;
  width: 110%;
  background-size: cover;
}

@media screen and (max-width: 720px) {
  #background {
    background:url('../assets/img/backgroundsmall.jpg');
    background-size: contain;
  }
}
#snow {
  background:url('../assets/img/snow_up.png') -50px -50px;
  position:absolute;
  top:0;
  z-index:0;
  height: 105%;
  width: 105%;
  background-size: cover;
}

@media screen and (max-width: 720px) {
  #snow {
    background:none;
  }
}

#background2 {
  background:url('../assets/img/background2.png') -25px -50px;
  position:absolute;
  top:0;
  z-index:2;
  height: 105%;
  width: 105%;
  background-size: cover;
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.left-1 {
  width: 29%;
  height: 96.2%;
  position: absolute;
  left:0;
  bottom: 0;
  background:url('../assets/img/sham.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom left;
}

@media screen and (max-width: 720px) {
  .left-1 {
    background:url('../assets/img/shamsmall.png');
    z-index: 1;
    background-size: cover;
    width: 48%;
    height: 57.6%;
    left: 0;
    bottom: 30%;
  }
}

.left-2 {
  width: 40%;
  height: 65%;
  position: absolute;
  left:0;
  bottom: 0;
  background:url('../assets/img/girl.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom left;
  z-index: 4;
}
.left-3 {
  width: 43%;
  height: 18%;
  position: absolute;
  left: 0;
  bottom: -1%;
  z-index: 99;
  background:url('../assets/img/snowleft.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom left;
  z-index: 2;
}
.left-4 {
  width: 33%;
  height: 17%;
  position: absolute;
  left: 37%;
  bottom: 40%;
  z-index: 3;
  background:url('../assets/img/ping.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom left;
}
.left-5 {
  width: 44%;
  height: 39%;
  position: absolute;
  left: 0;
  bottom: 32%;
  z-index: 4;
  background:url('../assets/img/girlsmall.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom left;
}

.right-1 {
  width: 27%;
  height: 98%;
  position: absolute;
  right:0;
  bottom: 0;
  background:url('../assets/img/trees.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom right;
}
@media screen and (max-width: 720px) {
  .right-1 {
    width: 45%;
    height: 52%;
    position: absolute;
    right: -5%;
    bottom: 43%;
    z-index: 1;
  }
}

.right-2 {
  width: 45%;
  height: 77%;
  position: absolute;
  right: 0px;
  bottom: 0;
  background:url('../assets/img/man.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom right;
  z-index: 4;
}
.right-3 {
  width: 40%;
  height: 13%;
  position: absolute;
  right: 8%;
  bottom: -3%;
  z-index: 2;
  background:url('../assets/img/snowright.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom right;
}
.right-4 {
  width: 37%;
  height: 22%;
  position: absolute;
  right: -16px;
  bottom: 35%;
  transform: rotate(8deg);
  z-index: 3;
  background:url('../assets/img/dog.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom right;
}
.right-5 {
  width: 61%;
  height: 46%;
  position: absolute;
  right: 0;
  bottom: 40%;
  z-index: 1;
  background:url('../assets/img/mansmall.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom right;
}
.center-1 {
  width: 50%;
  height: 5%;
  position: absolute;
  right: 23%;
  bottom: 0;
  background:url('../assets/img/snowmid.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom center;
  z-index: 3;
}
.center-2 {
  width: 62%;
  height: 49%;
  position: absolute;
  right: 20%;
  bottom: 28%;
  background:url('../assets/img/main.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 3;
}

@media screen and (max-width: 720px) {
  .center-2 {
    width: 90%;
    height: 21%;
    position: absolute;
    right: 4%;
    bottom: 32%;
    z-index: 5;
    background:url('../assets/img/logosmall.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom center;
  }
}
@media screen and (min-width: 720px) and (max-height: 766px) {
  .center-2 {
    bottom: 36%;
  }
}
.center-top {
  width: 40%;
  position: absolute;
  right: 29.2%;
  top:0%;
  z-index: 4;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 720px) {
  .center-top {
    width: 58%;
    right: 21%;
    margin-top: 5%;
  }
}
.center-top__logo {
  margin-top: 31px;
  margin-bottom: 4px;
}
@media screen and (min-width: 720px) and (max-height: 766px) {
  .center-top__logo {
    margin-top: 8px;
    margin-bottom: 4px;
  }
}
.center-top__logo img {
  width: 71%;
}
.center-top__logo-small {
  position: absolute;
  left: 20px;
  top: 20px;
  width: 12%;
}
.center-bottom {
  width: 40%;
  position: absolute;
  right:30%;
  height: 24%;
  bottom: 6%;
  z-index: 9;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 720px) {
  .center-bottom {
    bottom: 0%;
    width: 100%;
    height: 31%;
    right: 0;
  }
}
@media screen and (min-width: 720px) and (max-height: 766px) {
  .center-bottom {
    height: 30%;
    bottom: 7%;
  }
}

.center-bottom-small {
  width: 100%;
  height: 43%;
  bottom: 0;
  z-index: 4;
  position: absolute;
  background:url('../assets/img/bottomsmall.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}

.social {
  display: flex;
  flex-direction: row;
  margin-top: 3%;
  justify-content: center;
}
.social__item {
  width: 1.7rem;
  height: 1.7rem;
  margin: 0px 0.26rem;
}
@media screen and (max-width: 720px) {
  .social {
    margin-top: 5px;
    margin-bottom: 0px;
    height: 46px;
  }
  .social__item {
    width: 4.7rem;
    height: 4.7rem;
    /* height: 42px; */
    margin: 1.2rem;
  }
}
@media screen and (max-width: 720px) and (max-height: 650px) {
  .social {
    margin-top: 5px;
    margin-bottom: 0px;
  }
  .social__item {
    width: 3.7rem;
    height: 3.7rem;
    /* height: 42px; */
    margin-top:0;
  }
}
.social__item img {
  width: 100%;
  height: 100%;
}
.social__item img:hover {
}

.trailer-btn {
  cursor: pointer;
}

.big-text {
  margin-top: 16px;
  font-size: 21px;
  letter-spacing: 0.3px;
  margin-left: 16px;
  text-transform: uppercase;
  text-align: center;
}
@media screen and (max-width: 720px) {
  .big-text {
    margin: 12px 0px 0px 0px;
    font-size: 14px;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
  }
}
@media screen and (min-width: 720px) and (max-height: 766px) {
  .big-text {
    font-size: 16px;
    margin-left: 0px;
    margin-top: 8px;
  }
}
.extra-big-text {
  margin: 8px 0px;
  margin-right: 12px;
  font-size: 50px;
  text-transform: uppercase;
}
@media screen and (max-width: 720px) {
  .extra-big-text {
    margin-top: 4px;
    font-size: 32px;
  }
}
.middle-text {
  font-size: 9px;
  margin-top: 2.6%;
  letter-spacing: 0.3px;
  text-transform: uppercase;
  text-align: center;
}

@media screen and (max-width: 720px) {
  .middle-text {
    margin: 22px 0px 0px 0px;
    width: 57%;
    color: #132445!important;
    font-size: 12px;
    line-height: 1.2;
    text-align: center;
  }
}
@media screen and (max-width: 720px) and (max-height: 650px) {
  .middle-text {
    margin-top: 10px;
  }
}
    
.small-text {
  margin-top: 1.2rem;
  font-size: 7px;
  text-transform: uppercase;
}
@media screen and (max-width: 720px) {
  .small-text {
    margin: 18px 0px 0px 0px;
    font-size:8px;
    text-align: center;
    text-transform: uppercase;
  }
}
@media screen and (max-width: 720px) and (max-height: 650px) {
  .small-text {
    margin-top: 0px;
    font-size:8px;
  }
}

.white {
  color: #ffffff;
}
.blue {
  color: #79cfdc;
}
.yellow {
  color: #eaff00;
}

@media screen and (max-width: 720px) {
  .blue {
    color: #132445;
  }
}

@media screen and (max-width: 720px) {
  .mobile-visible {
    display: block;
  }
  .mobile-hidden {
    display: none;
  }
}
@media screen and (min-width: 720px) {
  .mobile-visible {
    display: none;
  }
}




























#sham-left {
  position: relative;
}
.sham-left__wrapper {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#sham-left img {
  z-index: 2;
  height: 80%;
  background-size: contain;
}
#forest-left {
  background:url('../assets/img/background2.png') -25px -50px;
  position:absolute;
  top:0;
  z-index:2;
  height: 105%;
  width: 105%;
  background-size: cover;
}
#forest-right {
  background:url('../assets/img/background2.png') -25px -50px;
  position:absolute;
  top:0;
  z-index:2;
  height: 105%;
  width: 105%;
  background-size: cover;
}

.social__item {
  position: relative;
}
.social__item a , .trailer-btn span{
  display: block;

}
.trailer-btn span {
  position: relative;
  width: 50%;
  margin: 0 auto;
}
@media screen and (min-width: 720px) and (max-height: 766px) {
  .trailer-btn span {
    width: 40%;
  }
}
.youtube:after{
  background-image: url('../assets/img/youtube_hover.png');
}


.social__item a:after, .trailer-btn span:after{
  content: '';
  top:0;
  left: 0;
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-size: 100% 112%;
  z-index: 9;
  background-repeat: no-repeat;
  opacity: 0;
  -webkit-transition: all .1s ease-out 0.1s;
  -moz-transition: all .1s ease-out 0.1s;
  -o-transition: all .1s ease-out 0.1s;
  transition: all .1s ease-out 0.1s;
}

.trailer-btn-button {
  width: 100%;
}
@media screen and (min-width: 720px) {

  .social__item a:hover:after, .trailer-btn span:hover:after{
    opacity: 1;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease
    -o-transition: all .25s ease;
    transition: all .25s ease;
  }
}
.trailer-btn span::after {
  background-image: url('../assets/img/trailerbutton_hover.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center top;
}
.ok:after{
  background-image: url('../assets/img/ok_hover.png');
}
.fb:after{
  background-image: url('../assets/img/fb_hover.png');
}
.vk:after{
  background-image: url('../assets/img/vk_hover.png');
}
.tw:after{
  background-image: url('../assets/img/tw_hover.png');
}
.inst:after{
  background-image: url('../assets/img/inst_hover.png');
}